* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

img {
  width: 100%;
}

.container {
  background-color: #c03540;
  min-height: 300vh;
}

/* header */

/*

* Gap: Khoảng cách các phần tử trong Flex box
* Padding: khoảng cách từ phần cha đến phần tửu con
* Margin: Khoảng cách từ phần tử cha đến phần tử bên ngoài
* Align-item: Sắp xếp các phần từ bên trong flex theo chiều dọc
* Position fixed: Cố định vị trí dựa trên màn hình
* Absolute Xác định vị trí dựa trên thẻ cha gần nhất có position l;à relative hoặc absolute
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header--logo {
  width: 77px;
}

.header--nav {
  display: flex;
  gap: 16px;
}

.header--nav__item {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  padding: 4px 8px;
  border-radius: 15px;
}

.header--nav__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 100%;
  left: 0;
}
.header--nav__item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  i {
    color: gray;
    transform: rotate(180deg);
  }

  .drop--down__menu {
    display: block;
  }
}

.drop--down__menu {
  margin-top: 8px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(203, 203, 203, 0.533);
  ul {
    padding: 8px;
    list-style: none;
    background-color: white;
    border-radius: 6px;
    li {
      text-wrap: nowrap;
      color: black;
    }
  }
}

.header--nav__item i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.604);
}

.header--button {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

/* Hero section */

.hero--section__container {
  height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--section__beanz__logo {
  /* width: 70vw; */
  position: relative;
  animation: ScaleAnimation 500ms linear forwards, RunLogo 3s linear infinite;
}

.hero--section__icon {
  position: absolute;
}

.tiktok {
  width: 64px;
  top: 45%;
  left: -50px;
  border-radius: 15px;
  transform: rotate(-15deg) scale(1);
  transition: transform 300ms ease-in-out;
}

.tiktok:hover {
  transform: rotate(-15deg) scale(1.2);
  cursor: pointer;
}

.instagram {
  width: 50px;
  border-radius: 15px;
  top: -12px;
  right: 7%;
  transform: rotate(10deg) scale(1);
  transition: transform 300ms ease-in-out;
}

.instagram:hover {
  cursor: pointer;
  transform: rotate(10deg) scale(1.1);
}

.x-icon {
  top: 40%;
  right: -70px;
  border-radius: 15px;
  transform: rotate(15deg) scale(1);
  width: 56px;
  transition: transform 300ms ease-in-out;
}

.x-icon:hover {
  cursor: pointer;
  transform: rotate(15deg) scale(1.2);
}

.figure--container {
  position: absolute;
  height: auto;
  width: 90vw;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.figure--image {
  position: relative;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.figure--image:hover {
  transform: scale(1.2);
  .figure--textbox {
    display: block;
  }
}
.figure--textbox {
  position: absolute;
  left: 50%;
  top: -15%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid white;
  display: none;
}

/* Keyframe: Dùng làm animation*/

@keyframes ScaleAnimation {
  from {
    width: 400px;
  }

  to {
    width: 70vw;
  }
}

@keyframes RunLogo {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}

/* scale nhân vật dùng transform và transition 
Tên nhật vật dùng absolute.. thẻ bọc ngoài là  relative
Mặc định dispaly: none
hover vào Nhân vậy thì sẽ cho  tên nhân vật dispaly block
*/

.meet--the__beanz__container {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    width: 70%;
    margin: auto;
    font-weight: 300;
    margin-top: 4px;
  }
  .meet--box_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    width: 85%;
    margin: 28px auto;
    .meet--box {
      height: 8vw;
      border-radius: 12px;
      display: flex;
      transition: all 100ms linear;
      h1 {
        padding: 12px;
        text-transform: uppercase;
        font-size: 20px;
      }
      .meet--box__img {
        flex: 1;
        display: flex;
        justify-content: end;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
    .meet--box:hover {
      transform: scale(1.06);
      border: 2px solid;
      cursor: pointer;
    }
  }
}

.banner--section {
  padding: 8px;
  aspect-ratio: 1/1;
  background-color: white;
  margin: auto;
  width: 95vw;
  border-radius: 20px;
  display: flex;
  .banner--section__img {
    height: 100%;
    width: auto;
  }
  .banner--section__list {
    height: 100%;
    border: 1px solid;
    flex: 1;
    display: flex;
    gap: 12px;
    flex-direction: column;
    .banner--section__box {
      color: black;
      background-color: #0000000d;
      flex: 1;
      border-radius: 12px;
      display: flex;
      overflow: hidden;
    }

    .banner--section__content {
      text-wrap: nowrap;
      padding: 12px;
    }
    .banner--section__title {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
    .banner--section__description {
      color: gray;
      text-transform: uppercase;
      font-size: 14px;
    }
    .banner--section__box__img {
      flex: 1;
      display: flex;
      justify-content: end;
      img {
        flex: 0 0 30%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
